# Compiled Object files
*.slo
*.lo
*.o

# Visual Studio files
*.iobj
*.ipdb
*.pdb
*.ilk
*.db
*.opendb
*.vcxproj.user
.vs

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# osx files
.DS_Store

# cobra project files
x86
Debug
Release
screenshot.bmp
cobra
cobra.exe
